{
    "kind": "ServiceAccount",
    "apiVersion": "v1",
    "metadata": {
        "name": "jupyterhub-hub",
        "namespace": "{{ namespace }}",
        "labels": {
            "app": "jupyterhub"
        }
    }
}
